body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202124; /* Dark background */
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #202124;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socialicon {
    color: #fff;
    background-color: #333;
    padding: 15px;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.socialicon:hover {
    transform: scale(1.2);
    background-color: #00ff88; /* AI theme color */
}

/* Preloader styles */
#preloader {
    display: none; /* Hide by default */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
