/* General styling */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
}

/* Particle background setup */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Styling for the main content */
#home .content {
    position: relative;
    text-align: center;
    top: 40%;
    transform: translateY(-50%);
}

h1 {
    font-size: 48px;
    margin: 0;
}

p {
    font-size: 24px;
    margin: 10px 0;
}

/* Social media icons */
.social-icons {
    margin-top: 20px;
}

.socialicon {
    font-size: 30px;
    color: #fff;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.socialicon:hover {
    transform: scale(1.2);
}

/* Preloader */
#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
