body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202124; /* Dark background */
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #202124;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socialicon {
    color: #fff;
    background-color: #333;
    padding: 15px;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.socialicon:hover {
    transform: scale(1.2);
    background-color: #00ff88; /* AI theme color */
}

/* Styling for Semi-Circle Nav */
.semi-circle {
    position: fixed;
    width: 100px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50% 50% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: width 0.3s ease;
}

.semi-circle.left {
    left: 0;
    top: 40%;
}

.semi-circle.right {
    right: 0;
    top: 40%;
    transform: rotate(180deg);
}

.semi-circle a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
    display: block;
    text-align: center;
    font-size: 16px;
}

.semi-circle a:hover {
    font-weight: bold;
}

.scrollable {
    display: flex;
    flex-direction: column;
}

/* Semi-circle expand on hover */
.semi-circle:hover {
    width: 150px;
}

/* Social Icon hover effect */
.social-icons a {
    margin: 0 10px;
    color: #fff;
    font-size: 20px;
}
