body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202124; /* Dark background */
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #202124;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socialicon {
    color: #fff;
    background-color: #333;
    padding: 15px;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: transform 0.3s ease;
}

.socialicon:hover {
    transform: scale(1.2);
    background-color: #00ff88; /* AI theme color */
}

.semi-circle {
    width: 100px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0 50px 50px 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    transition: width 0.3s ease;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.scrollable a {
    display: block;
    margin: 20px 0;
    text-align: center;
    color: white;
    text-decoration: none;
}
